<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings><add name="InspectionEntities" connectionString="metadata=res://*/Models.FairlyInspectionDB.csdl|res://*/Models.FairlyInspectionDB.ssdl|res://*/Models.FairlyInspectionDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.10.41;initial catalog=Inspection;user id=insp;password=Fbm22687166;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="T8ERPEntities" connectionString="metadata=res://*/Models.T8DB.csdl|res://*/Models.T8DB.ssdl|res://*/Models.T8DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.10.160;initial catalog=T8ERP;user id=sa;password=Fairly{};MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>